/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap'); */
@import url(https://fonts.googleapis.com/css?family=Croissant+One:regular);
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", cursive;
  scroll-behavior: smooth;
  font-family: "Croissant One", cursive;
}

.cursor {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: fixed;
  z-index: 999;
  background: #d34ded;
}

.follower-cursor {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 4px solid #fff;
  position: fixed;
  z-index: 999;
  border-radius: 50%;
}

::-webkit-scrollbar{
  display: none;
}