@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  font-family: 'Mona Sans', sans-serif;
}

/* .cursor {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: fixed;
  z-index: 999;
  background: #d34ded;
}

.follower-cursor {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #fff;
  position: fixed;
  z-index: 999;
  border-radius: 50%;
} */

::-webkit-scrollbar {
  display: none;
}
